<html>

<head>
    <meta name="description" content="CSS Tabs" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.0.1/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <title>Insight's Walkover</title>
    <meta charset=utf-8>
</head>

<body>
    <div class="container">
        <span class="badge">Walkover</span>
        <span class="userName">Hello,Guest</h1></span>
    </div>

    <div class="tabbed">
        <input type="radio" name="tabs" id="tab-nav-1" checked>
        <label for="tab-nav-1">Logged-out</label>
        <div class="tabs">
            <div>
                <h2>Logged-out</h2>
                <h2>You are currently logged-out if you want to see local storage data click on extension popup and
                    click on Search all insight or Login</h2>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.6/prefixfree.min.js"></script>
    <!-- <script src="/js/options.js"></script> -->
</body>

</html>